.journal__main-content {
    display: flex;
}

.journal__sidebar {
    background-color: $dark-grey;
    background-image: url("https://cdn.hipwallpaper.com/i/62/44/ezmf6p.jpg");
    background-size: cover;
    border: solid;
    border-color: $black;
    border-width: 2px;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    width: 450px;
}

.journal__sidebar-navbar {
    align-items: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.journal__sidebar-navbar h5 {
    font-weight: lighter;
}

.journal__new-entry {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 100%;

    transition: color .3s ease;

    &:hover {
        color: darken($color: $white, $amount: 20);
    }
    
}

.journal__entries {
    flex: 1 1 auto;
    margin-top: 30px;
    overflow-y: scroll;
}

.journal__entry {
    background-color: $white;
    border-radius: 4px;
    color: $dark-grey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;    
    height: 75px;
}

.journal__entry-picture {
    background-size: cover;
    border-radius: 4px 0 0 4px;
    // background-image: url("https://www.iecisa.com/export/sites/web_iecisa/documents/blogs/20171213-iecisa-imagen-de-marca.jpg");
    width: -webkit-fill-available;
    max-width: 60px;
}

.journal__entry-body {
    justify-self: stretch !important;
    text-align: justify;
    width: -webkit-fill-available;
    padding: 5px;
    overflow: scroll;
}

.journal__entry-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.journal__entry-content {
    font-size: 12px;
}

.journal__entry-date-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 0 10px 0 5px;
}

.journal__entry-date-box span {
    font-size: 14px;
    margin-bottom: 5px;
}
