.notes__main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
}

.notes__appbar {
    align-items: center;
    background-image: url("https://wallpaperstock.net/blue-textures-and-light-wallpapers_34092_1920x1080.jpg");
    border-bottom: solid;
    border-top: solid;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-color: $black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}

.notes__content {
    background-image: url("https://image.freepik.com/free-photo/grey-paper-texture_1253-25.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.notes__title-input, .notes__textarea {
    border: none;

    &:focus{
        outline: none;
    }
}

.notes__title-input {
    color: $dark-grey;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    opacity: 0.6;
}

.notes__textarea {
    border: none;
    color: $dark-grey;
    font-size: 20px;
    flex: 1 1 auto;
    opacity: 0.6;
    resize: none;
    text-align: justify;
}

.notes__image img {
    box-shadow: 5px 5px $dark-grey;
    height: 150px;
}